 
 iFrame {
    width: 100%; 
    height: 0vh;
    border: none;
    border-radius: 5px;
    animation: show 1s .2s 1 forwards;
}

@keyframes show {
    0% {
        height: 0vh;
    }
    100% {
        height: 50vh;
    }
}